.blog .sidebar {
    padding: 20px;
    margin: 0 0 10px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .tags {
    margin-bottom: -10px;
    text-align: center;

}

.blog .sidebar .tags ul a {
    color: #7e886b;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 12px 8px 12px;
    border: 1px solid #edefea;
    display: inline-block;
    transition: 0.3s;
}